$font-family: "Work Sans", sans-serif;
$content-width: 1420px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));
$text-color: #d6d6d6;
$accent-color: #1aa090;
$bg-color: #121b25;
$color-light: #ffffff;
